@charset "utf-8";
body{
    color: #000000;
    background-color: #ffffff;
    font-family: verdana, sans-serif;
    font-size: 12px;
}
p.none{text-transform: none;}
p.capitalize{
    text-transform: capitalize;
    text-align: right;
}
p.lowercase{
    text-transform: lowercase;
    text-align: left;
}
p.pageone::first-letter{
    font-size: 42px;
    width: 200px;
}
p.pageone::first-line{font-weight: bold;}
.shadow{text-shadow: #999999 10px 10px 3px;}